mixin footer(options)

    footer.footer.pt-10.pb-5.mt-auto(class=options.footerBg, class=options.footerStyle)

        if block
            block
        else
            .container
                .row.align-items-center
                    .col-md-6.small
                        | Copyright &copy; { Dicas de Programação } 2020
                    .col-md-6.text-md-right.small
                        a(href='https://dicasdeprogramacao.com.br/politica-de-privacidade/') Política de Privacidade
