extends ../layouts/default.pug

block config

    - var pageTitle = 'Masterclass Rota do Programador'

append css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css')
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')

    style.
        #layoutDefault {
            background: #1f2d41 !important;
        }

block content

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-light',
        pageHeaderStyle: 'page-header-light',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-dark'
    })

        .page-header-content.mb-n5
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-10.text-center(data-aos='fade')
                        h1.page-header-title Que bom ter você conosco!
                        p.page-header-text.mb-5 Agora que a sua inscrição para a <strong>Master Rota do Programador</strong> foi confirmada, reserve na sua agenda o <strong>14/05/2020 às 19 horas</strong>.
                        p.page-header-text.mb-5 <strong>Você receberá um e-mail no dia 14/05/2020 com o link da Masterclass.</strong>
                        
                


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
    