// This file is currently blank.
// Add your own custom SCSS to this file if needed!

.avatar-lp {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
}
