// Override any Bootstrap SCSS variables here
$primary: #862a15 !default;
$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$dark: $gray-900 !default;
